.item-view {
    display: flex;
    align-items: center;

    width: 80%;
    margin: 0 auto;

    background: #dadada;
    padding: 16px 32px;
    box-sizing: border-box;
    border-radius: 8px;

    .item-view--name {
        font-size: 2em;
        font-weight: 700;
    }

    .item-view--category {
        font-size: 1.25em;
        font-weight: 400;
    }

    .item-view--image {
        margin: 16px 0;
        img {
            width: 50%;
        }
    }

    .item-view--price {
        font-size: 1.5em;
        font-weight: 700;
        text-align: center;
    }
}